<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180"
		href="{{'/assets/favicons/apple-touch-icon.png' | prepend: site.baseurl}}">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{'/assets/favicons/favicon-32x32.png' | prepend: site.baseurl}}">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{'/assets/favicons/favicon-16x16.png' | prepend: site.baseurl}}">
	<link rel="manifest" href="{{'/assets/favicons/site.webmanifest' | prepend: site.baseurl}}">
	<link rel="mask-icon" href="{{'/assets/favicons/safari-pinned-tab.svg" color="{{site.basecolor}}">
	<link rel="shortcut icon" href="{{'/assets/favicons/favicon.ico' | prepend: site.baseurl}}">
	<meta name="msapplication-TileColor" content="{{site.basecolor}}">
	<meta name="msapplication-config" content="{{'/assets/favicons/browserconfig.xml' | prepend: site.baseurl}}">
	<meta name="theme-color" content="{{site.basecolor}}">
	{%- if page.title -%}
	<title>{{ site.title }} - {{ page.title }}</title>
	<meta name=" title" content={{ site.title }} - {{ page.title }}>
	{% else %}
	<title>{{ site.title }}</title>
	<meta name=" title" content={{ site.title }}>
	{%- endif -%}
	{%if page.description %}
	<meta name="description" content="{{ page.description }}">

	{% else %}
	{% if page.languages contains "pt" %}
	<meta name="description" content="{{ site.description.pt }}">
	{% else %}
	<meta name="description" content="{{ site.description.en }}">
	{% endif %}

	{% endif %}
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}">
	{%if page.title %}
	<meta property="og:title" content={{ page.title }}>
	{% endif %}
	{%if page.description %}
	<meta property="og:description" content="{{ page.description }}">
	{% endif %}
	{%if page.image %}
	<meta property="og:image" content={{ site.url }}/assets/images/{{ page.image }}> {% endif %}
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ site.url }}">
	{%if page.title %}
	<meta property="twitter:title" content={{ page.title }}>
	{% endif %}
	{%if page.description %}
	<meta property="twitter:description" content="{{ page.description }}">
	{% endif %}
	{%if page.cover %}
	<meta property="twitter:image" content={{ site.url }}/assets/images/{{ page.cover }}> {% endif %} {%if page.open %}
	<meta property="twitter:image" content={{ site.url }}/assets/images/{{ page.open }}> {% endif %}
	<link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">

</head>